.navbar-brand {

	width: 285px;
	height: 30px;
	left: 107px;
	top: 25px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	text-align: center;
	letter-spacing: 0.075em;
	color: #0F4C81;

}

.nav-item{

	width: 120px;
	height: 35px;
	left: 1205px;
	top: 25px;

	font-family: Quicksand;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	text-align: center;

	color: #0F4C81;
}

.banner {
	position: relative;
	background: url(Background.png);
	min-height: 100vh;
	background-size: cover;
	background-position: center;

}

.jumbotron{
	background: url(Background.png);

}

.left{
	float:left;
}

.right{
	float: right;
}

h1 {
	font-family: Baloo;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 81px;
	letter-spacing: 0.01em;

	color: #0F4C81
}

.btn{
	width: 165px;
	height: 49px;
	left: 142px;
	top: 653px;

	background: #ED6663;
	border-radius: 26px;
	border:none;

}

.lead{

	left: 10.07%;
	right: 31.94%;
	top: 40.89%;
	bottom: 31.89%;

	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 35px;
}

p{

	left: 10.07%;
	right: 31.94%;
	top: 40.89%;
	bottom: 31.89%;

	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 35px;

}

strong{
	left: 10.07%;
	right: 31.94%;
	top: 40.89%;
	bottom: 31.89%;

	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 35px;

	color: #0F4C81;
}

.profilepic{
	float:right;
	width: 273px;
	height: 277px;
	left: 871px;
	top: 100px;
	margin-bottom: 100px;
}
